<form autocomplete="off">
    <ul style="padding: 0; list-style-type:none;">
        {{#each tokenfaces}}
        <li id="{{this.id}}">
        <div class="form-group">
            <label>{{localize "TOKEN.ImagePath"}}</label>
            <div class="form-fields">
                <button type="button" class="file-picker" data-type="imagevideo" data-target="{{this.id}}" title="Browse Files"
                    tabindex="-1">
                    <i class="fas fa-file-import fa-fw"></i>
                </button>
                <input class="image" type="text" name="{{this.id}}" placeholder="File Path" value="{{this.img}}">
                <button type="button" class="delete" data-id="{{this.id}}" title="Browse Files">
                    <i class="fas fa-trash"></i>
                </button>
            </div>
        </div>
        <div class="form-group">
            <label id="actlabel">{{localize "TOKEN.CharActor"}}</label>
            <select name="actor" data-dtype="String">
                {{#select this.actorId}}
                {{#each ../actorsarray}}
                <option value="{{this.id}}" >{{this.name}}</option>
                {{/each}}
                {{/select}}
            </select>
        </div>
        <div class="form-group">
            <label>{{localize "Scale"}} <span class="units">({{localize "Ratio"}})</span></label>
            <div class="form-fields">
                <input type="range" name="scale" value="{{this.scale}}" min="0.2" max="3.0" step="0.1">
                <span class="range-value">{{this.scale}}</span>
            </div>
        </div>
        <hr>
        </li>
        {{/each}}
    </ul>
    <button id="add"><i class="fas fa-plus"></i> {{localize "tokenflip.config.formapp.add"}}</button>
</form>